.slider{
    background-color: #0f0f0f;
    height: 7%;
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px 12px;
    align-items: center;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar{
    display: none;
}

.horizontal-link-element{
    text-decoration: none;
}